<!-- templates/manage_users.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo" class="logo" onclick="window.location.href='/'">
    </header>
    <h1>Gerenciar Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Admin</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ 'Sim' if user.is_admin else 'Não' }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ url_for('admin_edit_user', user_id=user.id) }}" class="btn edit-btn">Editar</a>
                    <form action="{{ url_for('delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn delete-btn" onclick="return confirm('Você tem certeza que irá deletar esse usuário?');">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin/create_user" class="add-btn">Adicionar Novo Usuário</a>
</body>
</html>
