<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cssadmlog.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo" class="logo" onclick="window.location.href='/'">
    </header>
    <div class="login-container">
        <h1>Área do Gestor</h1>
        <form method="POST" action="/admin/login">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
