<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylelogin.css" />
    <title>Cadastro HannahKids</title>
</head>

<body>
    
    <div class="container">
        <div class="form-image">
            <img src="TCC/TCC/imagenstcc/WhatsApp_Image_2023-08-15_at_07.42.17.jpeg" alt="">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    
                </div>
        <table>
            <tr>
                <td>
                    <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nome</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                    </div>
                </td>

            </tr>
            
                <td>
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" placeholder="Digite sua senha" required>
                    </div>
                </td>

            
        
                </div>
        <tr>
            <td>
                <div class="continue-button">
                    <a href="main.html"><button class="buttonenviar"><a href="#">Continuar</a> </button>
                </div>
            </td>
        </tr>    

            
            </table>
            </form>
        </div>
    </div>
</body>

</html>