<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='cssmain.css') }}">
    <meta name="theme-color" content="#ffffff">
</head>
<script type="text/javascript" src="/static/service-worker.js"></script>
<script>
    if ('service-worker.js' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(registration => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(error => {
                    console.error('Service Worker registration failed:', error);
                });
        });
    }
</script>
<body>
    <header>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo" class="logo">
        <img src="{{ url_for('static', filename='icon.png') }}" alt="Icon" class="header-icon" onclick="window.location.href='/admin/login'">
    </header>
    
    <h1>Salas disponíveis</h1>

    <div id="rooms-container">
        {% for room in rooms %}
        <div class="room-card" onclick="window.location.href='/room/{{ room.id }}/schedule'">
            <h2>{{ room.name }}</h2>
            <p>{{ room.description }}</p>
            <p>{{ room.capacity }} Lugares</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
